<div class="container"> 
    <div class="row">
      <div class="col m9 s12">
        <div class="row ">
          <h1 class="h1">
            <span class="span-bold">I am </span>
            <span class="rounded-badge">  FullStack  </span>
            <br>
            <br>
            <span class="span-bold">Aguekeng Arolle</span> 
          </h1>
          <h3>Devellop Backend and Frontend for over 3 years as FullStack develloper</h3>
          <div class="col-6">
            <button mat-flat-button color="warn">Hire me</button>
            <button mat-button color="warn" (click)="router.openProjectsPage()">Projects</button>
          </div>
          <div class="row gy-4">
            <div class="row">
                <div class="col">
                  <span class="span-bold-small">+20</span>
                  <p>Client satisfait</p>
                </div>
                <div class="col">
                  <span class="span-bold-small">+3</span>
                  <p>Years Experiences</p>
                </div>
            </div>
            
            <div class="col-6">
              <span class="span-bold-small">500</span>
              <p>Project Done</p>
            </div>
            <div class="col-6">
              <span class="span-bold-small">Contact</span>
              <p>arolleaguekeng@gmail.com</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col m2 home-right mh-100">
        <div class="col">
          <img src="./assets/py.png" width="100px">
          <img src="./assets/js.png" width="100px">

          <div class="container">
          </div>
        </div> 
      </div>
    </div>

    
  </div>