.home-right{
  display: flex;
  right: 0;
  
}

.special-span{
  color:  #e44e08; 
  font-weight: bold;
  font-family: Fira Code, "Helvetica Neue", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}
.line{
  height: 0.3px;
  width: 100%;
  background-color: black;
  margin-bottom: 2%;
  color: transparent;
  margin-left: 5%;
  margin-top: 15px;
} 

.header{
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
  background-image: linear-gradient(to top right, #e44e08b7, #0881e4);
  transition: border-radius 500ms ease-in-out;
  height: 60vh;
  position: absolute;
  width: 31%;
}

.header:hover{
  border-radius: 100% 0% 0% 100% / 100% 100% 10% 2%   ;
}

@media screen and (max-width: 800px) {
  .home-right{
    display: none;
  }
}











.custom-shape-divider-bottom-1667920599 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667920599 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 178px;
}

.custom-shape-divider-bottom-1667920599 .shape-fill {
  fill: #0881e4;
}


