<div class="container"> 
    <div class="row">
      <div class="col m9 s12">
        <div class="row p-5">
          <h1 class="h1">
            <span class="span-bold-small">Aguekeng </span>
            <span> is an</span> 
            <span class="special-span">  FullStack  </span>
            <span class="special-span">Python</span>
             <span> and </span> 
             <span class="special-span">JavaScript </span>
            <span>Develloper</span>
            <br>
            <br>
            
          </h1>
          <h3>Devellop Backend and Frontend for over 3 years as FullStack develloper</h3>
          <div class="col-6">

            
            <img src="./assets/py.png" width="50%">
            <img src="./assets/js.png" width="50%">
            <br>
            <br>
            <br>
            <button mat-flat-button color="warn">Contact me !!</button>
          </div>
          

          
        </div>
      </div>
      <div class="col m2 home-right mh-100">
        <div class="col">
          

          <div class="container">
          </div>
        </div> 
      </div>
    </div>

    
    <h1>Donne moi ma chance et tu ne seras pas déssus</h1>
    <div class="container px-4 py-5" id="icon-grid">
      <span>
        <h2 class=" pb-2 border-bottom" >#projects</h2>
      </span>
  
    </div>
    
    <app-card-project></app-card-project>

    <div class="row">
      
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Skills</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Backend</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Frontend</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Frontend</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Featured title</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Featured title</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Featured title</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Featured title</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Featured title</h4>
              <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
          </div>
        </div>
        <button mat-flat-button color="warn">Read more >></button>
      </div>
    </div>

    <div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom">About me</h2>
      <div class="row">
        <div class="col col-md-6">
          Hello, i’m Elias!

          I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop responsive websites from scratch and raise them into modern user-friendly web experiences. 

          Transforming my creativity and knowledge into a websites has been my passion for over a year. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.
        <br>
        <br>
        <button mat-flat-button color="warn">Read more >></button>
        </div>
        <div class="col col-md-4">
          <img src="../../../assets/logo.png" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom">Contact</h2>
      <div class="row">
        <div class="col">
          I’m interested in freelance opportunities. However, if you have other request or question, don’t hesitate to contact me
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>

