.home-right{
    background-image: url('../../../assets/pict.png');
     height:500px;
     background-size: cover;
}

.special-span{
  color: blueviolet;
  font-weight: bold;
  font-family: Fira Code, "Helvetica Neue", sans-serif;
}
.line{
  height: 0.3px;
  width: 100%;
  background-color: black;
  margin-bottom: 2%;
  color: transparent;
  margin-left: 5%;
  margin-top: 15px;
}



