<div class="card">
    <div class="card-content p-2">
        <div class="row g-9">
            <div class="col-sm-7">
               <input 
            #searchBox
            placeholder="Search Project..."
            class="form-control form-control-lg "
            >  
            </div>
               
            <div class="col-sm-3 ">
                <select class="form-select form-select-lg " aria-label=".form-select-lg example">
                <option selected>Technologie</option>
                <option value="1">Python</option>
                <option value="2">Javascript</option>
                <option value="3">C#</option>
              </select>
              </div>
              
              <div class="col-sm-2">
                <select class="form-select form-select-lg " aria-label=".form-select-lg example">
                <option selected>Sort</option>
                <option value="1">Python</option>
                <option value="2">Javascript</option>
                <option value="3">C#</option>
              </select>
              </div>
        </div>
    </div>
</div>

