/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Fira Code, "Helvetica Neue", sans-serif; }

h1{
  font-family: Fira Code, "Helvetica Neue", sans-serif;
  font-size: 300px;
  padding-top: 5%;
  padding: 3%;
 }

.span-bold{
  font-weight: bold;
  font-family: Fira Code, "Helvetica Neue", sans-serif;
  font-size: 45px;
  margin-top: 5%;
  padding: 3%;
}


.span-bold-small{
  font-weight: bold;
  font-family: Fira Code, "Helvetica Neue", sans-serif;
  font-size: 30px;
  padding: 3%;
}